.mypic {
    border-radius: 200px;
    border: 3xp solid grey;
    box-shadow: 0 0 30px #666;
}
body {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    color: black;
    background: #e0e0e0;
    height: 100vh;
  }
  .footer {
    display: block;
    background-color: #708080;
    margin: 1;
    padding: 10px;
    text-align: center;
    color: #0b0c10;
    font-size: 15px;
    line-height: 0rem;
  }
  footer img {
    width: 5%;
  }
  .left {
    display: inline-block;
    width: 30%;
    margin: 15px;
    background-color: ##e0e0e0;
    box-shadow: 0 0 10px #e0e0e0;
    font-size: 1.2rem;
  }
  .right {
    display: inline-block;
    width: 40%;
    margin: 15px;
    background-color: #e0e0e0;
    box-shadow: 0 0 10px #e0e0e0;
    font-size: 1.2rem;
  }
  .personal {
    padding: 8px;
    color: #3b3b3d;
    text-align: center;
  }
  .contact {
    color: #3b3b3d;
  }
  .contact ul {
    list-style: none;
  }
  .aboutme {
    color: #3b3b3d;
  }
  .skills {
    color: #3b3b3d;
  }
  .skills ul {
    list-style: none;
  }
  .education {
    color: #3b3b3d;
  }
  .education ul {
    list-style: none;
  }
  .languages {
    color: #3b3b3d;
  }
  .languages ul {
    list-style: none;
  }
  .aboutme ul {
    list-style: none;
  }