.mypic {
    border-radius: 200px;
    border: 3xp solid grey;
    box-shadow: 0 0 30px #666;
}
body {
    box-sizing: border-box;
    margin: 5;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    color: black;
    background: #e0e0e0;
  }
  .footer {
    display: block;
    background-color: #708080;
    margin: 1;
    padding: 10px;
    text-align: center;
    color: #0b0c10;
    font-size: 15px;
    line-height: 1rem;
  }
  footer img {
    width: 5%;
  }
  .left {
    display: inline-block;
    width: 30%;
    margin: 15px;
    background-color: #e0e0e0;
    box-shadow: 0 0 10px #e0e0e0;
  }
  .right {
    display: inline-block;
    width: 50%;
    margin: 15px;
    background-color: #e0e0e0;
    box-shadow: 0 0 10px #e0e0e0;
  }